@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=fallback");

@import "tailwindcss/base";
@import "tailwindcss/components";

/* Additional styles */
@import "additional-styles/utility-patterns.css";
@import "additional-styles/range-slider.css";
@import "additional-styles/toggle-switch.css";
/* @import "additional-styles/theme.css"; */

@import "tailwindcss/utilities";

html {
  scroll-behavior: smooth;
}

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
  .sidebar-icon {
    @apply relative flex items-center justify-center 
        h-12 w-12 mt-2 mb-2 mx-auto  
      bg-gray-200  
      text-blue-300 hover:text-blue-700
        hover:rounded-xl rounded-3xl
        transition-all duration-300 ease-linear
        cursor-pointer shadow-lg;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md
        text-white bg-gray-900 
        text-xs font-bold 
        transition-all duration-100 scale-0 origin-left;
  }
  /* styles for the cards on the home screen */
  .card-green {
    @apply text-white border-green-700 bg-gradient-to-l from-red-400 to-blue-400 hover:bg-gradient-to-l hover:from-blue-400 hover:to-red-400 focus:ring-green-300;
  }
  .card-red {
    @apply text-white hover:text-red-700 border-red-700 bg-gradient-to-l from-red-900 to-red-400 hover:bg-gradient-to-l hover:from-white hover:to-red-400 focus:ring-red-300;
  }
  .card-blue {
    @apply text-white hover:text-blue-700  border-blue-700 bg-gradient-to-r from-blue-900 to-blue-400 hover:bg-gradient-to-r hover:from-white hover:to-blue-400  focus:ring-blue-300;
  }

  .rtl {
    direction: rtl;
  }
}
